USE [master]
GO
/****** Object:  Database [MotornaVozila]    Script Date: 9/10/2024 10:31:40 PM ******/
CREATE DATABASE [MotornaVozila]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MotornaVozila', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS02\MSSQL\DATA\MotornaVozila.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MotornaVozila_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS02\MSSQL\DATA\MotornaVozila_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MotornaVozila].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MotornaVozila]
GO
/****** Object:  Table [dbo].[Vozilo]    Script Date: 9/10/2024 10:31:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vozilo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](100) NULL,
	[GodinaProizvodnje] [int] NULL,
	[Kategorija] [nvarchar](50) NULL,
	[BrojSjedala] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GetVehiclesBefore2000]    Script Date: 9/10/2024 10:31:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetVehiclesBefore2000]
AS
BEGIN
SELECT *
FROM Vozilo
WHERE GodinaProizvodnje<2000;
END;
GO
USE [master]
GO
